@model int
<div>
    <div>
        <h1>
            Order Placed Successfully!
        </h1>
        Your Order number is : @Model <br/><br/>
    </div>
    <div>
        <br/>
        Your Order has been placed successfully.
    </div>
</div>